<% %>
<fieldset>
  <legend>Login Daten:</legend>
  	<p><%= f.label :email, "Email Adresse:" %><br /><%= text_field :user, :email, :size => 42 %>*</p>
  	<p><%= f.label :password, "Passwort:" %> (mindestens 4 Zeichen!)<br /><%= password_field :user, :password, :size => 42 %>*</p>
	<p>
    <%= f.label :password_confirmation, "Passwort wiederholen:"%><br />
    <%= f.password_field :password_confirmation , :size => 42 %>*</p>
</fieldset>
