<fieldset>
  <legend>TeilnehmerIn</legend>
  	<p><%= f.label :name, "Name:" %><br />
		<%= f.text_field :name, :size => 42 %>*</p>
	<p><%= f.label :birthday, "Geburtsdatum:"%><br />
		<%= f.text_field :birthday, :size => 42 %>*</p>
	<p><%= f.label :street, "Strasse, Hausnummer:" %><br />
		<%= f.text_field :street, :size => 42%>*</p>
	<p><%= f.label :zip, "Postleitzahl" %>, <%= f.label :city, "Stadt:" %><br />
		<%= f.text_field :zip, :size => 5 %>
        <%= f.text_field :city, :size => 33 %>*</p>
	<p><%= f.label :telephone, "Telefonnummer:" %><br />
		<%= f.text_field :telephone, :size => 42 %>*</p>	
  	<p><%= f.label :comment, "Beschreibung" %></p>
  	<p><%= f.text_area :comment, :cols => 68, :rows => 10 %></p>
  <p>Bei der Beschreibung kann <a href="http://de.wikipedia.org/wiki/BBCode">BBCode</a> verwendet werden!</p>
</fieldset>
