<% %>
<fieldset>
  <legend>Teilnehmer</legend>
  <table>
    <tr>
      <td>Name:</td>
      <td colspan="2"><%=f.name%></td>
    </tr>
    <tr>
      <td>"Email Adresse:</td>
      <td><%= f.email%></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><%= f.password %></td>
	</tr>
    <tr>
      <td>Strasse, Hausnummer:</td>
      <td colspan="2">
        <%= f.street %> 
      </td>
    </tr>
    <tr>
      <td>Postleitzahl, Stadt:</td>
      <td colspan="2">
        <%= f.zip %>
        <%= f.town %>
      </td>
    </tr>
	<tr>
      <td>Telefonnummer</td>
      <td><%= f.telephone %></td>
    </tr>
  </table>
</fieldset>
<p></p>
<fieldset>
  <legend>Story Beschreibung</legend>
  <table>
	<tr>
      <td>Name der Fotostory: </td>
      <td><%= f.storyname %></td>
    </tr>
  </table>
  <p>Beschreibung:</p>
  <p><%= f.comment %></p>
</fieldset>
