<h1>Einreichung hochladen für Story: <%= @story.name %></h1>

<% form_for(@upload_item, :html => { :multipart => true }) do |f| %>
	<%= error_messages_for :upload_item %>
    <p>
      <%= label :upload, "Datei" %>
      <%= f.file_field :upload %> *
    </p>
    <p>
      <%= label :title, "Titel:" %>
      <%= f.text_field :title %> *
    </p>
    <p>
      <%= f.check_box :upload_rules %>
      <label>
        Ich befolge folgende
        <%= link_to "Regeln", "/pictures.html#uploadrules" %>
        beim Hochladen des Bildes *
      </label>
    </p>
  <fieldset>
    <legend>Beschreibung: </legend>
    <p><%= f.text_area :description, :cols => 60, :rows => 7 %></p>
    <p>Bitte benutzen sie dieses Feld um gegebenenfalls ihr Bild/Einreichung zu kommenieren! Beim Kommentar kann <a href="http://de.wikipedia.org/wiki/BBCode">BBCode</a> verwendet werden!</p>
  </fieldset>

	
  <h3>Hinweise:</h3>
  <ul>
    <li>Felder mit * bitte angeben.</li>
    <li>Nur Bilddateien und .pdf Dokumente erlaubt.</li>
    <li>Dateigr&ouml;sse &lt; 10MB.</li>
  </ul>

  <p>
    <%= f.submit 'Upload' %>
  </p>

 
<% end %>

<%= link_to "Zur&uuml;ck zur Übersicht von " + @user.name, user_path(@user) %>
